[submodule "themes/default"]
	path = themes/default
	url = https://github.com/niemingzhao/niemingzhao.github.io.git
[submodule "themes/matery"]
	path = themes/matery
	url = https://github.com/blinkfox/blinkfox.github.io.git
