<%- partial('_partial/bg-cover') %>


<main class="content">
    技术：https://github.com/axuebin/articles/issues/39 （前端面试复习）

素材： https://unsplash.com/s/photos/landscape 

工具： 

有意思：http://www.nows.fun（毒鸡汤）
https://www.v2fy.com/p/000readme-chinesebqb （中国的表情包）
https://wangpinpin.com （舔狗日记生成）
https://github.com/menzi11/BullshitGenerator （狗屁不通文章生成器）
</main>

<script>
    $(function () {
        $('#friends-link').masonry({
            itemSelector: '.friend-div'
        });
    });
</script>
